@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-soria);
  --font-sans: var(--font-vercetti);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --scrollbarColor: #FFF;
  --scrollbarBackground: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overscroll-behavior: none;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vercetti), Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBackground);
}

::-webkit-scrollbar-thumb {
  border-bottom: 100vh solid var(--scrollbarColor);
}
